@value dark, yellow, lime, blue, purple from '../style/color.css';
@value small as smallBp, medium as mediumBp, large as largeBp, xlarge as xlargeBp from '../style/breakpoints.css';

.link {
  color: dark;
  outline: none;
  text-decoration: none;
  border-bottom: 0.3vmax solid lime;
}

.link:visited {
  border-color: purple;
}

.link:active,
.link:focus,
.link:hover {
  color: dark;
  border-color: blue;
}

.link::selection {
  background-color: yellow;
}
