@value dark, blue, lime, green, yellow from '../style/color.css';

@value small as smallBp, medium as mediumBp, large as largeBp, xlarge as xlargeBp from '../style/breakpoints.css';

.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.line {
  border: 0;
  margin-bottom: 2vmax;
  border-bottom: 0.3vmax solid rgba(0, 0, 0, 0.3);
  width: 6vmax;
}
