@value light, tertiary from '../style/color.css';

.root {
  min-height: 100vh;
  height: 100%;
  padding: 5%;
  background-color: black;
  display: flex;
}

:global ::selection {
    background-color: inherit;
    color: tertiary;
}
